{% extends "baseCaritas.html" %}
{% block title %}Controlar Intercambio{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2>Aceptar Intercambio</h2>
    <i class="bi bi-info-circle"><small class="text-muted p-0 bg-light shadow-sm"> Debes elegir la filial donde se realizará el intercambio.</small></i>
    <h4 class="mb-2">Elegir Filial:</h4>
    <div>
        <form method="GET" action="{% url 'controlar_intercambio' intercambio.id %}" id="filialForm">
            <select name="filial_id" class="form-select me-3 mb-3" onchange="this.form.submit()">
                <option value="" selected disabled>Selecciona una filial</option>
                {% for filial in filiales %}
                <option value="{{ filial.id }}" {% if filial.id == filial_seleccionada.id %}selected{% endif %}>{{ filial.nombre }}</option>
                {% endfor %}
            </select>
        </form>
        <!-- Mostrar el mapa -->
        <div id="map" style="height: 100%; width: 100%;"></div>
        <div id="map" style="height: 70%; width: 70%;">
            {{ mapa|safe }}
        </div>
        <p></p>
        


        {% if filial_seleccionada %}
        <div>
            <h4>Turnos disponibles para {{ filial_seleccionada.nombre }}:</h4s>
            {% if turnos_disponibles %}
            <form method="POST" action="{% url 'aceptar_intercambio' intercambio.id %}">
                {% csrf_token %}
                <ul>
                    {% for turno in turnos_disponibles %}
                    <li>
                        <input type="radio" name="turno_id" value="{{ turno.id }}" id="turno_{{ turno.id }}">
                        <label for="turno_{{ turno.id }}">{{ turno.fecha }}</label>
                    </li>
                    {% endfor %}
                </ul>
                <button type="submit" class="btn btn-primary">Aceptar Intercambio</button>
                <button type="button" class="btn btn-primary">Cancelar</button>
            </form>
            {% endif %}
        </div>
        
        
        {% endif %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
