{% extends 'baseCaritas.html' %}

{% block content %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    input[type=number] {
        -moz-appearance: textfield;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Donación</title>
</head>
<body>
    <h2>Donación</h2>
    <form method="post" action="{% url 'donar' %}">
        {% csrf_token %}
        <label for="monto">Monto a donar:</label>
        <input type="number" id="monto" name="monto" step="1" min="1" required>
        <button type="submit" class="btn btn-primary">Donar con MercadoPago</button>
    </form>
</body>
</html>
{% endblock %}
