{% extends 'baseCaritas.html' %}

{% block content %}
<h1>Estadísticas de Intercambios por filial.</h1>
    <div class="container mt-5">
        <h3>Seleccione una filial:</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.non_field_errors %}
            <div style="color: red;">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Generar gráfico</button>
        </form>
        
        <div>{% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
            {% elif chart_div %}
                {{ chart_div|safe }}
            {% endif %}
        </div>
    </div>
{% endblock %}
