{% extends 'baseCaritas.html' %}

{% block content %}
<div class="container">
    <h1>Usuarios Registrados</h1>
    {% if usuarios %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha de Nacimiento</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.nombre }} {{ ayudante.apellido }}</td>
                        <td>{{ usuario.fechaNacimiento }}</td>
                        <td>{{ usuario.dni }}</td>
                        <td>{{ usuario.telefono }}</td>
                        <td>
                            <!-- <a href="" class="btn btn-primary btn-sm">Ver Detalle</a> -->
                            <a href="{% url 'editarPerfilAdmin' usuario.id %}" class="btn btn-primary btn-sm">Editar perfil</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No existen usuarios registrados.</p>
    {% endif %}
    <a href="{% url 'inicioAdmin' %}" class="btn btn-primary btn-sm">Volver</a>
</div>
{% endblock %}