{% extends "baseCaritas.html" %}
{% load static %}
{% block content %}
<body>
    <div class="container mt-5">
        <div class="card border-0 shadow-sm">
            <div class="card-header text-center bg-primary text-white">
                <h1>Perfil de {{ user_profile.nombre}} {{user_profile.apellido}}</h1>
            </div>
            <div class="card-body">
                {% if user_profile %}
                    <p><strong>Nombre:</strong> {{ user_profile.nombre }}</p>
                    <p><strong>Apellido:</strong> {{ user_profile.apellido }}</p>
                    <p><strong>Puntaje:</strong> {{ user_profile.puntaje }}</p>
                    <p><strong>Email:</strong> {{ user_profile.mail }}</p>
                    <div class="mt-3 d-flex">
                        <form action="{% url 'productos_del_usuario' user_profile.id %}" method="get" class="me-3">
                            <button type="submit" class="btn btn-primary ">Ver Articulos</button>
                        </form>
                        <form action="" method="get" class="me-3">
                            <button type="submit" class="btn btn-primary">Ver Reseñas</button>
                        </form>
                        <form action="{% url 'menuPrincipal' %}" method="get" class="me-3">
                            <button type="submit" class="btn btn-primary ">Volver</button>
                        </form>
                    </div>
                {% else %}
                    <p>El perfil solicitado no existe.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
{% endblock %}

