{% extends 'baseCaritas.html' %}


{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar artículo</title>
</head>
<body>
    <h1>Eliminar artículo</h1>
    <p>¿Estás seguro que deseas eliminar el artículo "{{ articulo.Titulo }}"?</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Eliminar">
    </form>
    <a href="{% url 'listarAEliminar' %}">Cancelar</a>
</body>
{% endblock %}