{% extends 'base.html' %}

{% block title %}
    Inicio de Sesión de Ayudante
{% endblock %}

{% block content %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cambiar contraseña</title>
</head>
<body>
    <h1>Cambiar contraseña</h1>
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}
    <p>Ingrese el correo electrónico que registró en el sitio para recibir una contraseña de uso único</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"  class="btn btn-primary">Aceptar</button>
        <a href="{% url 'login' %}" class="btn btn-primary">Cancelar</a>
    </form>
</body>
</html>
{% endblock %}