{% extends 'baseCaritas.html' %}

{% block content %}
<div class="container ">
    <h1> Artículos</h1>
    {% if resultados %}
        <h3>Resultados de la búsqueda para "{{ request.GET.q }}":</h3>
        <div class="list-group mt-3">
            {% for articulo in resultados %}
                <!-- <div class="list-group-item">
                    <h5>{{ articulo.Titulo }}</h5>
                    <img src="{{ articulo.Foto.url }}" class="img-fluid" alt="..." style="max-width: 100px;">
                    <p>{{ articulo.Descripcion }}</p>
                </div> -->
                <!-- <div class="list-group-item"> -->
                    <div class="col-md-10 mb-4">                    
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-md-4 d-flex align-items-center justify-content-center">
                                    <a href="{% url 'detalle' articulo.id %}">
                                        <img src="{{ articulo.Foto.url }}" class="img-fluid" alt="..." style="max-width: 200px;">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ articulo.Titulo }}</h5>
                                        <small class="text-muted">{{ articulo.Categoria }}</small>
                                        <p>Articulo de {{ articulo.usuario_id.nombre }} {{ articulo.usuario.apellido }}</p>
                                        <a href="{% url 'ver_otro_usuario' articulo.usuario_id %}" class="btn btn-primary">
                                            Ver perfil del usuario publicador
                                        </a>
                                        <a href="{% url 'detalle' articulo.id %}" class="btn btn-primary">
                                            Ver detalle
                                        </a>
                                        <span class="badge bg-dark position-absolute top-0 end-0 m-2">{{ articulo.Estado }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>                   
                    </div>
                <!-- </div> -->
            {% endfor %}
        </div>
    {% else %}
        {% if request.GET.q %}
            <p>No se encontraron artículos con el término "{{ request.GET.q }}".</p>
        {% endif %}
    {% endif %}
</div>

{% endblock %}