{% extends 'baseCaritas.html' %}

{% block content %}
<div class="container">
    <h1>Efectuar intercambio</h1>
    <!-- <div class="row">
        <form method="POST" action="{% url 'efectuarIntercambio' codigo_intercambio %}">
            {% csrf_token %}
            <div class="col-12">
                {{form.seleccion}}
            </div>   
        </form>
    </div> -->

    <form method="POST" action="{% url 'efectuarIntercambio' codigo_intercambio %}"> <!---Falta hacer la vista para los chequeos-->
        {% csrf_token %}
        <div class="row ">
            <div class="form-group col-md-6">
                {{form.seleccion}}
            </div>
        </div>
        <div class="row my-3">
            <div class="form-group col-md-6">
                {% if input_solicitante %}
                <label for="codigo_solicitante">Código del solicitante:</label>
                <input type="text" id="codigo_solicitante" name="codigo_solicitante" class="form-control" {% if input_solicitante %} required {% endif %}>
                {% endif %}
                {% if input_destinatario %}
                <label for="codigo_destinatario">Código del destinatario:</label>
                <input type="text" id="codigo_destinatario" name="codigo_destinatario" class="form-control" {% if input_destinatario %} required {% endif %}>
                {% endif %}
            </div>
        </div>
        {% if messages %}
        <ul class="alert alert-info mt-3">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div >
            <button type="submit" class="btn btn-primary btn-sm mt-2">Confirmar</button>
            <a href="" onclick="window.history.back();" class="btn btn-secondary btn-sm mt-2">Volver</a>
        </div>
    </form>
</div>
{% endblock %}
