{% extends 'baseCaritas.html' %}

{% block content %}
<div class="container">
    <h1>Efectuar intercambio</h1>
    <form method="POST" action="#"> <!---Falta hacer la vista para los chequeos-->
        {% csrf_token %}
        <div class="form-group">
            <label for="codigo_solicitante">Código del solicitante:</label>
            <input type="text" id="codigo_solicitante" name="codigo_solicitante" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="codigo_destinatario">Código del destinatario:</label>
            <input type="text" id="codigo_destinatario" name="codigo_destinatario" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
    </form>
    <a href="{% url 'inicioAyudante' %}" class="btn btn-secondary btn-sm mt-2">Volver</a>
</div>
{% endblock %}
