{% extends 'baseCaritas.html' %}

{% block content %}
<head>
    <title>Historial de Intercambios</title>
</head>
<body>
    <h1>Historial de Intercambios</h1>

    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% else %}
        <table class="table">
            <thread></thread>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Solicitante</th>
                <th scope="col">Destinatario</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha</th>
            </tr>
        </thread>
        <tbody></tbody>
            {% for intercambio in intercambios %}
                <tr>
                    <td>{{ intercambio.codigo_intercambio}}</td>
                    <td>{{ intercambio.solicitante.nombre }} {{ intercambio.solicitante.apellido }} </td>
                    <td>{{ intercambio.destinatario.nombre }} {{intercambio.destinatario.apellido }}</td>
                    <td>{{ intercambio.estado }}</td>
                    <td>{{ intercambio.turno.fecha }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}
</body>
</html>
{% endblock %}