{% extends 'baseCaritas.html' %}


{% block content %}
    <!-- <div class="container mt-4">
        <h1>Panel de Administrador</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title">Resumen</h5>
                    </div>
                    <div class="card-body">
                        <p>¡Bienvenido al panel de administrador!</p>
                        <p>Este es un resumen de las actividades recientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title">Acciones</h5>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li><a href="">Editar perfil para usuario administrador</a></li>
                            <li><a href="{% url 'verAyudantes' %}">Ver lista de ayudantes</a></li>
                            <!-- Agrega más acciones según sea necesario -->
                        <!-- </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

<div class="container mt-4">
    <h1>Bienvenido, {{ user.username }}</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Registrar Ayudantes</h5>
                    <p class="card-text">Registre un nuevo ayudante en el sistema.</p>
                    <a href="{% url 'registro' %}" class="btn btn-primary">Registrar Ayudantes</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Ver Ayudantes</h5>
                    <p class="card-text">Gestionar los ayudantes registrados en el sistema.</p>
                    <a href="{% url 'verAyudantes' %}" class="btn btn-primary">Ver Ayudantes Registrados</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Ver artículos a eliminar</h5>
                    <p class="card-text">Ver los artículos pendientes de eliminación</p>
                    <a href="{% url 'listarAEliminar' %}" class="btn btn-primary">Ver artículos pendientes</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Crear nueva filial</h5>
                    <p class="card-text">Crear una nueva filial de Caritas</p>
                    <a href="{% url 'agregarFilial' %}" class="btn btn-primary">Crear filial</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Ver filiales</h5>
                    <p class="card-text">Ver el listado de las filiales de Caritas en La Plata</p>
                    <a href="{% url 'listarAEliminar' %}" class="btn btn-primary">Ver filiales</a>
                </div>
            </div>
        </div>
        <!-- Agrega más tarjetas para otras acciones -->
    </div>
</div>

{% endblock %}