{% extends 'baseCaritas.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Bienvenido, {{ user.nombre }}</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Registrar Ayudantes</h5>
                    <p class="card-text">Registre un nuevo ayudante en el sistema.</p>
                    <a href="{% url 'registro' %}" class="btn btn-primary">Registrar Ayudantes</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Ver Ayudantes</h5>
                    <p class="card-text">Gestionar los ayudantes registrados en el sistema.</p>
                    <a href="{% url 'verAyudantes' %}" class="btn btn-primary">Ver Ayudantes Registrados</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Editar perfil de intercambiadores</h5>
                    <p class="card-text">Ver los artículos pendientes de eliminación</p>
                    <a href="{% url 'verIntercambiadores' %}" class="btn btn-primary">Ver intercambiadores</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Ver artículos a eliminar</h5>
                    <p class="card-text">Ver los artículos pendientes de eliminación</p>
                    <a href="{% url 'listarAEliminar' %}" class="btn btn-primary">Ver artículos pendientes</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Crear nueva filial</h5>
                    <p class="card-text">Crear una nueva filial de Caritas</p>
                    <a href="{% url 'agregarFilial' %}" class="btn btn-primary">Crear filial</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Ver filiales</h5>
                    <p class="card-text">Ver el listado de las filiales de Caritas en La Plata</p>
                    <a href="{% url 'listarFiliales' %}" class="btn btn-primary">Ver filiales</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Ver usuarios bloqueados</h5>
                    <p class="card-text">Ver el listado de usuarios bloqueados en el sistema</p>
                    <a href="{% url 'verBloqueados' %}" class="btn btn-primary">Ver usuarios bloqueados</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Ver usuarios pendientes de bloquear</h5>
                    <p class="card-text">Ver el listado de usuarios pendientes de bloquear en el sistema</p>
                    <a href="{% url 'verABloquear' %}" class="btn btn-primary">Ver usuarios pendientes</a>
                </div>
            </div>
        </div>
        <!-- Agrega más tarjetas para otras acciones -->
    </div>
</div>

{% endblock %}
