{% extends 'baseCaritas.html' %}

{% block content %}
<div class="container">
    <h1>Historial de intercambios </h1>
    {% if intercambios %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Solicitante</th>
                    <th scope="col">Destinatario</th>
                    <th scope="col">Articulo Solicitado</th>
                    <th scope="col">Articulo Ofrecido</th>
                    <th scope="col">Fecha Intercambio</th>
                    <th scope="col">Filial</th>
                    <th scope="col">Motivo Rechazo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Reseña</th>
                </tr>
            </thead>
            <tbody>
                {% for intercambio in intercambios %}
                    <tr>
                        <td>
                            <a href="{% url 'ver_otro_usuario' intercambio.solicitante_id %}">{{ intercambio.solicitante.nombre }}</a>

                        </td>
                        <td>
                            <a href="{% url 'ver_otro_usuario' intercambio.destinatario_id %}">{{ intercambio.destinatario.nombre }}</a>

                        </td>
                        <td> 
                            <a href="{% url 'detalle' intercambio.articulo_solicitado_id %}">{{ intercambio.articulo_solicitado.Titulo }}</a>

                        </td>
                        <td>
                            <a href="{% url 'detalle' intercambio.articulo_ofrecido_id %}">{{ intercambio.articulo_ofrecido.Titulo }}</a>
                            
                        </td>
                        <td>
                            {{ intercambio.turno.fecha }}
                        </td>
                        <td>
                            {{ intercambio.filial.nombre }}
                        </td>
                        <td>
                           {{ intercambio.motivo_rechazo|default:"---" }}
                        </td>
                        <td>
                            {{ intercambio.estado }}
                        </td>
                        <td>
                        {% if intercambio.estado == 'Efectuado' %}
                            {% if user.id == intercambio.solicitante_id and not intercambio.reseña_solicitante %} 
                                <a href="{% url 'dejar_reseña' intercambio.id intercambio.destinatario_id %}" class="btn btn-primary btn-sm">Dejar reseña</a>
                            {% elif user.id == intercambio.destinatario_id and not intercambio.reseña_destinatario %}
                                <a href="{% url 'dejar_reseña' intercambio.id intercambio.solicitante_id %}" class="btn btn-primary btn-sm">Dejar reseña</a>
                            {% else %}
                                Ya ha dejado una reseña
                            {% endif %}
                        {% else %}
                            No disponible para intercambios no efectuados
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay intercambios</p>
    {% endif %}

    {% if messages %}
        <div class="alert alert-info mt-3">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <a href="{% url 'menuPrincipal' %}" class="btn btn-primary btn-sm">Volver</a>
</div>
<!-- <a href="{% url 'inicioAdmin' %}" class="btn btn-primary btn-sm">Volver</a> -->
{% endblock %}
