{% extends "baseCaritas.html" %}
{% block title %}Sesión iniciada{% endblock %}

{% block content %}
    <div class="post col-md-12 mb-4">
        <div class="row g-0 ">
            <div class="col-md-2 mb-4">
                <form action="{% url 'perfil_propio' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Ver perfil propio</button>
                </form>
            </div>
            <div class="col-md-2 mb-4">
                <form action="{% url 'confirmar_eliminar_cuenta' %}" method="get">
                    <button type="submit" class="btn btn-primary">Eliminar cuenta</button>
                </form>
            </div>
            <div class="col-md-2 mb-4">
                <form action="{% url 'cargar_articulo' %}" method="get">
                    <button type="submit" class="btn btn-primary">Cargar artículo</button>
                </form>
            </div>
            <div class="col-md-2 mb-4">
                <form action="{% url 'verNeedList' %}" method="get">
                    <button type="submit" class="btn btn-primary">Ver NeedList</button>
                </form>
            </div>
            <div class="col-md-2 mb-4">
                <form action="{% url 'verArticulos' %}" method="get">
                    <button type="submit" class="btn btn-primary">Mis artículos</button>
                </form>
            </div>
            <div>
                <div class="col-md-2 mb-4">
                    <form action="{% url 'verArticulosPendientesPropios' %}" method="get">
                       <button type="submit"  class="btn btn-primary">Mis publicaciones pendientes</button>
                    </form>
                </div>
            </div>
            <div>
                <div class="col-md-2 mb-4">
                    <form action="{% url 'articulos_rechazados' %}" method="get">
                       <button type="submit"  class="btn btn-primary">Mis publicaciones rechazadas</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <form action="{% url 'lista_intercambios' %}" method="get">
                    <button type="submit" class="btn btn-primary">Intercambios</button>
                </form>
            </div>
            <div class="col-md-2 mb-4">
                <form action="{% url 'lista_intercambios_pendientes' %}" method="get">
                    <button type="submit" class="btn btn-primary">Intercambios pendientes</button>
                </form>
            </div>
        </div>
    </div>

    <div class="post">
        <h2 class="post-title">Artículos sugeridos</h2>
        <div class="mb-3">
            {% if articulos %}
                <form method="GET" action="{% url 'mostrar_por_categoria' %}" class="d-flex align-items-end">
                    {% csrf_token %}
                    <select name="categoria" class="form-select me-3 mb-3">
                        <option value="" selected disabled>Selecciona una categoría</option>
                        <option value="Ropa">Ropa</option>
                        <option value="Articulos Escolares">Artículos Escolares</option>
                        <option value="Articulos De Limpieza">Artículos de Limpieza</option>
                        <option value="Alimentos No Perecederos">Alimentos no perecederos</option>
                    </select>
                    <button type="submit" class="btn btn-primary mb-3">Buscar</button>
                </form>
                <form action="{% url 'ordenados' %}" method="get">
                    <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Ordenar artículos alfabéticamente">
                        <i class="bi bi-sort-alpha-down"></i> 
                        <span class="btn-text">Ordenar artículos alfabéticamente</span>
                    </button>
                </form>
            {% else %}
                <p>No hay artículos para mostrar</p>
            {% endif %}
        </div>
    </div>
    
    </div>
        {% if messages %}
            <div class="alert alert-info mt-3">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <ul class="list-group mt-3">
            {% for articulo in articulos %}
                <!-- <li class="list-group-item">
                    <h3>{{ articulo.Titulo }}</h3>
                    <p>{{ articulo.Descripcion }}</p>
                    <p>Articulo de {{ articulo.usuario_id.nombre }} {{ articulo.usuario.apellido }}</p>  
                    <a href="{% url 'ver_otro_usuario' articulo.usuario_id %}" class="btn btn-primary">
                        Ver perfil del usuario publicador
                    </a>
                    <p><img src="{{ articulo.Foto.url }}" alt="Foto del artículo"></p>
                    <form action="{% url 'detalle' articulo.id %}" method="get">
                        <button type="submit" class="btn btn-primary">Ver detalle</button>
                    </form>
                </li> -->
                <div class="col-md-10 mb-4">
                    <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                            <a href="{% url 'detalle' articulo.id %}">
                                <img src="{{ articulo.Foto.url }}" class="img-fluid" alt="..." style="max-width: 200px;">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">{{ articulo.Titulo }}</h3>
                                <small class="text-muted">{{ articulo.Categoria }}</small>
                                <p>Articulo de {{ articulo.usuario.nombre }} {{ articulo.usuario.apellido }}</p>
                                <a href="{% url 'ver_otro_usuario' articulo.usuario_id %}" class="btn btn-primary">
                                    Ver perfil del usuario publicador
                                </a>
                                <a href="{% url 'detalle' articulo.id %}" class="btn btn-primary">
                                    Ver detalle
                                </a>
                                <a href="{% url 'agregarANeedList' articulo.id %}" class="btn btn-primary">
                                    Agregar a NeedList
                                </a>
                                <a href="{% url 'solicitar_intercambio' articulo.id %}" class="btn btn-primary">
                                    Solicitar intercambio
                                </a>
                                <span class="badge bg-dark position-absolute top-0 end-0 m-2">{{ articulo.Estado }}</span>
                                <a href="#" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar a favoritos">
                                    <i class="bi bi-heart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
