<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesión iniciada</title>
</head>
<body>
    <div>
        <h2>Se inició sesión exitosamente</h2>
        <form action="{% url 'perfil_propio' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Ver perfil propio</button>
        </form>
        <button type="submit" class="btn btn-primary">
            <a href="{% url 'ordenados' %}">Ordenar artículos alfabéticamente</a>
        </button>
        
        <h1>Artículos</h1>
        <ul>
            {% for articulo in articulos %}
                <li>{{ articulo.Nombre }} - {{ articulo.Descripcion }} <a href="{% url 'detalle' articulo.id %}"><button>Ver detalle</button></a></li>
            {% endfor %}
        </ul>
    </body>
    </div>
</body>
</html>
