{% extends 'baseCaritas.html' %}

{% block content %}
<div class="container">
    <h1>Ayudantes Registrados</h1>
    {% if ayudantes %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha de Nacimiento</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Filial</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for ayudante in ayudantes %}
                    <tr>
                        <td>{{ ayudante.ayudante.nombre }} {{ ayudante.apellido }}</td>
                        <td>{{ ayudante.ayudante.fechaNacimiento }}</td>
                        <td>{{ ayudante.ayudante.dni }}</td>
                        <td>{{ ayudante.ayudante.telefono }}</td>
                        <td>{{ ayudante.filial }}</td>
                        <td>
                            <!-- <a href="" class="btn btn-primary btn-sm">Ver Detalle</a> -->
                            <a href="{% url 'confirmar_eliminar_ayudante' ayudante.ayudante.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No existen ayudantes registrados.</p>
    {% endif %}
    {% if messages %}
    <div class="alert alert-info mt-3">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <a href="{% url 'inicioAdmin' %}" class="btn btn-primary btn-sm">Volver</a>
</div>
{% endblock %}