{% extends "baseCaritas.html" %}
{% block content %}
<body>
    <h1>{{ articulo.Nombre }}</h1>
    <p><strong>Descripción:</strong> {{ articulo.Descripcion }}</p>
    <p><strong>Foto:</strong> <img src="{{ articulo.Foto.url }}" alt="Foto del artículo" style="max-width: 300px;"></p>
    <p><strong>Categoría:</strong> {{ articulo.Categoria }}</p>
    <p><strong>Título:</strong> {{ articulo.Titulo }}</p>
    <p><strong>Estado:</strong> {{ articulo.Estado }}</p>
    <p><strong>Usuario:</strong> {{ usuario.nombre }} {{usuario.apellido}}</p>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{% url 'aprobar' articulo.id %}" class="btn btn-primary">Aprobar</a>
    <a href="{% url 'desaprobar' articulo.id %}" class="btn btn-danger">Desaprobar</a>
    <a href="{% url 'confirmar' articulo.id articulo.usuario_id %}" class= "btn btn-danger">Solicitar bloqueo por publicacion inadecuada </a>

</body>

{% endblock %}
