{% extends "baseCaritas.html" %}
{% block content %}
<body>
    <h1>{{ articulo.Nombre }}</h1>
    <p><strong>Descripción:</strong> {{ articulo.Descripcion }}</p>
    <p><strong>Foto:</strong> <img src="{{ articulo.Foto.url }}" alt="Foto del artículo"></p>
    <p><strong>Categoría:</strong> {{ articulo.Categoria }}</p>
    <p><strong>Título:</strong> {{ articulo.Titulo }}</p>
    <p><strong>Estado:</strong> {{ articulo.Estado }}</p>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{% url 'aprobar' articulo.id %}">Aprobar</a>
    <a href="{% url 'desaprobar' articulo.id %}">Desaprobar</a>

</body>

{% endblock %}
